{{ define "main" }}
<div class="microblog-timeline">
    <div class="container">
        {{ if .Site.Params.description }}
        <div class="site-description">
            <p>{{ .Site.Params.description }}</p>
        </div>
        {{ end }}

        <div class="timeline-posts">
            {{ $allPosts := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
            {{ $recentPosts := $allPosts | first 20 }}
            {{ if gt (len $recentPosts) 0 }}
                {{ range $recentPosts }}
                    {{ if .Title }}
                        <!-- Blog post with title -->
                        {{ partial "microblog-post.html" . }}
                    {{ else }}
                        <!-- Microblog post without title -->
                        {{ partial "microblog-post.html" . }}
                    {{ end }}
                {{ end }}
            {{ else }}
                <div class="no-posts">
                    <p>No posts found.</p>
                </div>
            {{ end }}
        </div>

        {{ if gt (len (where .Site.RegularPages "Type" "in" .Site.Params.mainSections)) 20 }}
        <div class="timeline-pagination">
            <a href="{{ "posts" | relURL }}" class="view-all-posts">View all posts →</a>
        </div>
        {{ end }}
    </div>
</div>
{{ end }}
